@model   VehicleManagementSystem.Models.modelViewVehicle

@{
    ViewBag.title = "Add options for a vehicle";
    Model.v.VehicleGUID = @ViewBag.VehicleGUID;
}


<h3>@ViewBag.title</h3>
<h1 name="vehicleID">@ViewBag.VehicleGUID</h1>

<div class="container">
    <div class="row">

        @using (Html.BeginForm("VehicleDetails", "Vehicle", FormMethod.Post))
        {
            @Html.TextBox("searchForType");
            <input type="submit" value="submit" />

        }
        @foreach (var item in Model.c)
        {
            using (Html.BeginForm("AddComponentsForVehicle", "Vehicle", new { vehicleID = Model.v.VehicleGUID,
                ComponentID = item.ComponentID }))
            {

            <div class="col-10 mx-auto my-3 col-md-6 col-lg-4">
                <div class="panel car-panel" style="border:1px solid">
                    <img src="~/Content/Images/Car-Audio.jpg" class="p-img-top car-img" style="width:100%; height:50%;" alt="car">
                    <!--Card Body-->
                    <div class="panel-body">
                        <div class="car-info d-flex justify-content-between">
                            <!--First Flex Child-->
                            <div class="p-text ">
                                <h5 class="font-weight-bold text-uppercase">Component Name : @item.ComponentName </h5>
                                <h6 class="font-weight-bold text-uppercase">Description : </h6>
                                <p>@item.Manufacture</p>

                            </div>
                            <!--Second Flex Child-->
                            <h5 class="car-value align-self-center py-3 px-3" style="display:flex ;  justify-content:right;">
                                <span class="car-price"><b> £ @item.price</b></span>
                            </h5>
                            <button class="btn btn-primary" type="submit">  Press here   </button>

                        </div>
                    </div>
                    <!--End of Card
                <div class="panel-footer text-capitalize d-flex justify-content-between">
                    <p class=""><span class=""><i class="fas fa-car pr-3"></i></span> E:x </p>
                    <p class=""><span class=""><i class="fas fa-cogs pr-3"></i></span> automatic</p>

                </div>-->
                </div>
            </div>
            <!--End of Single Car-->

        }

    }
        <div class="col-10 mx-auto my-3 col-md-6 col-lg-4">
            <div class="panel car-panel" style="border:1px solid">
                <img src="~/Content/Images/Car-Audio.jpg" class="p-img-top car-img" style="width:80%; height:50%;" alt="car">
                <!--Card Body-->
                <div class="panel-body">
                    <div class="car-info d-flex justify-content-between">
                        <!--First Flex Child-->
                        <div class="p-text ">
                            <h5 class="font-weight-bold text-uppercase">Component Name : Radio </h5>
                            <h6 class="font-weight-bold text-uppercase">Desription : </h6>
                            <p>Car Audio Stereo In Dash Music MP3 Player Radio FM/USB/SD/AUX/ input Receiver  </p>

                        </div>
                        <!--Second Flex Child-->
                        <h5 class="car-value align-self-center py-3 px-3" style="display:flex ;  justify-content:right;">
                            <span class="car-price"><b> £500</b></span>
                        </h5>

                    </div>
                </div>
                <!--End of Card
            <div class="panel-footer text-capitalize d-flex justify-content-between">
                <p class=""><span class=""><i class="fas fa-car pr-3"></i></span> E:x </p>
                <p class=""><span class=""><i class="fas fa-cogs pr-3"></i></span> automatic</p>

            </div>-->
            </div>
        </div>
        <!--End of Single Car-->

    </div>
</div>




