@model IEnumerable<VehicleManagementSystem.Models.Vehicles>
@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>
  
        <p>
            @Html.ActionLink("Create New", "ChooseVehicleType")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleBrand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EngineType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.componentListID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isAvailable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.color)
                </th>


                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.componentListID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.color)
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VehicleGUID }) |
                @Html.ActionLink("Details", "Details", new { id = item.VehicleGUID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.VehicleGUID })
            </td>
        </tr>
            }

        </table>
        </body>
        </html>
