
@model IEnumerable<VehicleManagementSystem.Models.Vehicles>
@{

}
<script src="~/Content/JavaScript.js"></script>
<!--End of Single Car-->
<!--Single Car-->
<br />

@using (Html.BeginForm("VehicleDetails", "Vehicle", FormMethod.Post ))
{
    @Html.TextBox("searchForType");
    <input type="submit" value="submit" />

}
<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-10 mx-auto my-3 col-md-6 col-lg-4">
                <div class="panel car-panel" style="border:1px solid">
                    <img src="~/Content/Images/cars.jpg" class="p-img-top car-img" style="width:100%; height:50%;" alt="car">
                    <!--Card Body-->
                    <div class="panel-body">
                        <div class="car-info d-flex justify-content-between">
                            <!--First Flex Child-->
                            <div class="p-text ">
                                <h6 class="font-weight-bold text-uppercase">@item.VehicleBrand</h6>
                                <h6 class="text-uppercase">@item.model</h6>
                                <h6 class="text-uppercase">@item.color</h6>
                                <h6 class="">Avability :</h6>
                                <h6 class="">@item.isAvailable</h6>
                                @foreach (var item2 in @item.Components)
                                {
                                    <p> des : @item2.ComponentName + @item2.Manufacture </p>
                                }
                            </div>
                            <!--Second Flex Child-->

                            <h5 class="car-value align-self-center py-3 px-3" style="display:flex ;  justify-content:right;">
                                <span class="car-price"><b>  @item.price</b></span>
                            </h5>
                            <!--Second Flex Child-->
                            <h5 class="car-value align-self-center py-3 px-3" style="display:flex ;  justify-content:right;">
                                <span class="car-price"><b>  @item.speed1</b></span>
                            </h5>

                        </div>
                    </div>
                    <!--End of Card -->
                    <div class="panel-footer text-capitalize d-flex justify-content-between">
                        <p class=""><span class=""><i class="fas fa-car pr-3"></i></span> E: @item.EngineType</p>
                        <p class=""><span class=""><i class="fas fa-cogs pr-3"></i></span> automatic</p>

                    </div>
                </div>
            </div>
            <!--End of Single Car-->
        }
    </div>
</div>







