
@model  VehicleManagementSystem.Models.Vehicles



<!-- Product section-->
<div class="container-fluid">
    <div class="row">
        <br />  <br />  <br />
        <section class=" col-lg-12 col-md-12 py-5 border ">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 border border-dark" style="border: thin 1px black; width:80%" src="~/Content/Images/cars.jpg" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">@Model.vehicleType</div>
                        <h3 class="display-5 fw-bolder">@Model.VehicleBrand</h3>
                        <h3 class="display-5 fw-bolder">@Model.model</h3>

                        <div class="fs-5 mb-5">
                            <h3>
                                <span class="text-decoration-line-through">
                                    £  @Model.price
                                </span>
                            </h3>
                        </div>
                        @foreach (var item in @Model.Components)
                        {

                            <p class="lead" style="font-size:24px;">Desription:  </p>
                            <p style="font-size:18px;"> * @item.ComponentName</p>
                            <p style="font-size:18px;">@item.Manufacture</p>
                        }


                        @{
                            List<VehicleManagementSystem.Models.Vehicles> v = new List<VehicleManagementSystem.Models.Vehicles>();
                            v = Session["FavVehicles"] as List<VehicleManagementSystem.Models.Vehicles>;
                            if (v != null)
                            { v.FirstOrDefault(o => o.VehicleGUID == Model.VehicleGUID);
                            }

                        }
                        @if (v == null)
                        {
                            <div class="d-flex" style="display:inline-block;">
                                <button class="btn btn-outline-dark flex-shrink-0 btn btn-success" type="button" onclick="location.href='@Url.Action("AddtoFav", "User",new {vehicleID= Model.VehicleGUID})'">
                                    <i class="bi-cart-fill me-1"></i>
                                    Add to favourites
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex" style="display:inline-block;">
                                <button class="btn btn-outline-dark flex-shrink-0 btn btn-danger" type="button" onclick="location.href='@Url.Action("RemoveFromFav", "User",new {vehicleID= Model.VehicleGUID})'">
                                    <i class="bi-cart-fill me-1"></i>
                                    Remove from favourites
                                </button>
                            </div>
                        }


                        @if (@Model.isAvailable == true)
                        {
                            <div class="d-flex" style="display:inline-block;">
                                <button class="btn btn-outline-dark btn btn-primary flex-shrink-0" type="button" data-toggle="tooltip" title="Buy now" onclick="location.href='@Url.Action("Buy", "User",new {vehicleID= Model.VehicleGUID})'">
                                    <i class="bi-cart-fill me-1"></i>
                                    Buy Now
                                </button>
                            </div>
                        }
                        @if (@Model.isAvailable == false)
                        {
                            <div class="d-flex" style="display:inline-block;">
                                <button class="btn-outline-dark btn btn-warning flex-shrink-0" type="button" data-toggle="tooltip" title="This @Model.vehicleType isnot availble for buying at the moment ">
                                    <i class="bi-cart-fill me-1"></i>
                                    not availble
                                </button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </section>

    </div>

</div>
