@model IEnumerable<VehicleManagementSystem.Models.Vehicles>
@{

}

<body class="userPage" style="background-image: url('../Content/Images/wallpaper.jpeg');">
    <div class="container-fluid">
        <div class="row " style="margin-bottom: 100%;">
            <!-- filtersss   -->
            @using (Html.BeginForm("Products", "User", FormMethod.Post))
            {
                <div class="col-lg-2 col-md-2 filtersClass " style=" margin-bottom: 20%; z-index: 1;">
                    <div data-role="page">
                        <div class="wrapper center-block hidden-xs">
                            <div class="filters-text">
                                <h4 class="filter-span" style="color:whitesmoke;">
                                    Filters
                                    <small>(find product using filters below)</small>
                                </h4>
                                <span style="float:right;"><i class="fa fa-filter"></i></span>
                            </div>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading1">
                                        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1"> Type </a> </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                        <div class="panel-body">
                                            <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="filter[1]" value="car" /> <span class="ml-10">Car</span> </label> </div>
                                            <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="filter[1]" value="bus" /> <span class="ml-10">bus</span> </label> </div>
                                            <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="filter[1]" value="bike" /> <span class="ml-10">bike</span> </label> </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading2">
                                        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2"> Brand </a> </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                        <div class="panel-body">
                                            <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="filter[2]" value="bmw" /> <span class="ml-10">bmw</span> </label> </div>
                                            <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="filter[2]" value="mercedes" /> <span class="ml-10">mercedes</span> </label> </div>
                                            <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="filter[2]" value="hyndai" /> <span class="ml-10">hyndai</span> </label> </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading4">
                                        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4"> Price </a> </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                        <div class="panel-body">
                                            <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="filter[3]" value="1000000" /> <span class="ml-10">'less than'1,000,000</span> </label> </div>
                                            <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="filter[3]" value="500000" /> <span class="ml-10">'less than'500,000</span> </label> </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading4">
                                        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4"> Location </a> </h4>
                                    </div>
                                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                        <div class="panel-body">
                                            <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="filter[4]" value="uk" /> <span class="ml-10"> UK </span> </label> </div>
                                            <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="filter[4]" value="usa" /> <span class="ml-10"> USA </span> </label> </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading4">
                                        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">Favourites </a> </h4>
                                    </div>
                                    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                        <div class="panel-body">
                                            <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="filter[5]" value="fav" /> <span class="ml-10"> Fav </span> </label> </div>
                                            <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="filter[5]" value="notFav" /> <span class="ml-10"> not fav </span> </label> </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right refine">
                                <button class="btn btn-out btn-primary btn-square" id="button-filter" value="submit" type="submit">Refine Search</button>
                            </div>
                        </div>



                    </div>
                </div>
            }

            <!-- items   -->
            @foreach (var item in Model)
            {<div class="col-lg-3 col-md-3" style="margin:1%;">

                    <div class="card userPage">
                        <div class="content userPage">
                            <div class="imgBx userPage">
                                <img src="~/Content/Images/wallpaper.jpeg">
                            </div>
                            <div class="contentBx userPage">
                                <b>
                                    <h3> @item.VehicleBrand <br><span> @item.model</span></h3>
                                </b>
                                <h4 class="car-price"><b style="color:whitesmoke ;">
    @if (ViewBag.TempLoc == "usa")
    {
        <p style="display:inline-block"> $ </p>
    }@if (ViewBag.TempLoc == "uk")
    {
                                                      <p style="display:inline-block"> £ </p>
    }@if (String.IsNullOrEmpty(ViewBag.TempLoc))
    {
                                                      <p style="display:inline-block"> £ </p>
    }

    @item.price
</b> </h4>
                            </div>
                        </div>
                        <ul class="sci userPage">
                            <li>
                                @Html.ActionLink("More Details", "OneVehicleDetails", new { vehicleID = @item.VehicleGUID })    
                            </li>


                        </ul>
                    </div>
                </div>

            }
        </div>    
    </div>
    <br/> 
</body>


<style>
    .userPage body {
        display: block;
        /*background: #161616;*/
        min-height: 100vh;

    }

    .userPage section::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background: linear-gradient(#DA22FF, #9733EE);
        clip-path: circle(30% at right 70%);*/
    }

    .userPage section::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background: linear-gradient(#E55D87, #5FC3E4);
        clip-path: circle(20% at 10% 10%);*/
    }

    .userPage .container {
        position: relative;
        z-index: 1;



    }

        .userPage .container .card {
            position: relative;
            width: 200px;
            height: 300px;
            background: rgba(255, 255, 255, 0.05);


            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(10px);
        }

            .userPage .container .card .content {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: 0.5s;
            }

            .userPage .container .card:hover .content {
                transform: translateY(-15px);
            }

            .userPage .container .card .content .imgBx {
                position: relative;
                width: 100px;
                height: 100px;
                overflow: hidden;
            }

                .userPage .container .card .content .imgBx img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            .userPage .container .card .content .contentBx h3 {
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 500;
                font-size: 18px;
                text-align: center;
                margin: 20px 0 10px;
                line-height: 1.1em;
            }

                .userPage .container .card .content .contentBx h3 span {
                    font-size: 12px;
                    font-weight: 300;
                    text-transform: initial;
                }

            .userPage .container .card .sci {
                position: absolute;
                bottom: 50px;
                display: flex;
            }
    .userPage .car-price {
        padding: 10px;
        margin-bottom: 45%;
    }

    .userPage .container .card .sci li {
        text-align: right;
        list-style: none;
        margin-top: 10px;
        transform: translateY(50px);
        transition: 0.5s;
        opacity: 0;
    }

            .userPage .container .card:hover .sci li {
                transform: translateY(0px);
                transform: translateX(-20px);
                opacity: 1;
            }

            .userPage .container .card .sci li a {
               
              
                color: #fff;
                margin: 10px;
                font-size: 18px;
            }
</style>