@model VehicleManagementSystem.Models.Bus

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.componentListID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.componentListID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manufactureCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manufactureCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bus1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bus1.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bus2.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bus2.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
